.header__menu {
  display: none;
}

@media screen and (max-width: 770px) {
  .header__menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 520px;
    background-color: white;
    min-height: 100vh;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 5;
  }

  .menu__nav {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .menu__close {
    position: absolute;
    right: 22px;
    top: 22px;
  }

  .menu__link-main-page,
  .menu__link-films,
  .menu__link-films-saved {
    text-decoration: none;
    font-size: 18px;
    line-height: 22px;
    font-weight: 500;
    color: #000000;
    transition: opacity 0.3s ease;
  }

  .menu__link-main-page {
    margin-top: 160px;
  }

  .menu__link-films {
    margin-top: 28px;
  }

  .menu__link-films-saved {
    margin-top: 26px;
  }

  .menu__link-main-page:hover,
  .menu__link-films:hover,
  .menu__link-films-saved:hover {
    opacity: 0.7;
  }

  .menu__profile {
    display: flex;
    margin-bottom: 92px;
    width: 100px;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    text-decoration: none;
    justify-content: space-between;
    align-items: center;
    color: #000000;
    transition: opacity 0.3s ease;
  }

  .menu__profile:hover {
    opacity: 0.7;
  }

  .menu__link-main-page_active,
  .menu__link-films_active,
  .menu__link-films-saved_active,
  .menu__profile_active {
    border-bottom: 2px solid #000000;
  }

  .menu__profile-background {
    width: 30px;
    height: 30px;
    background: #f9f9f9;
    border-radius: 6px;
    display: flex;
  }

  .menu__profile-icon {
    margin: auto;
  }
}

@media screen and (max-width: 519px) {
  .header__menu {
    width: 100vw;
  }

  .menu__close {
    right: 13px;
    top: 13px;
  }

  .menu__link-main-page {
    margin-top: 145px;
  }

  .menu__link-films {
    margin-top: 17px;
    line-height: 35px;
  }

  .menu__link-films-saved {
    margin-top: 16px;
  }

  .menu__profile {
    margin-bottom: 48px;
  }
}
