.checkbox {
  display: flex;
  height: 20px;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  margin-right: 30px;
  position: relative;
  user-select: none;
}

.checkbox .checkbox-switch {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  width: 36px;
  height: 20px;
  transition: 0.2s;
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(50, 50, 71, 0.08),
    0px 4px 8px rgba(50, 50, 71, 0.06);
  border-radius: 16px;
  margin: 0 15px 0 30px;
  cursor: pointer;
  transition: box-shadow 0.3s ease;
}

.checkbox .checkbox-switch:hover {
  box-shadow: 0px 4px 4px rgba(50, 50, 71, 0.2),
    0px 4px 8px rgba(50, 50, 71, 0.1);
}

.checkbox .checkbox-switch::before {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  display: inline-block;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #f5f5f5;
  transition: 0.15s;
}

.checkbox input[type="checkbox"] {
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.checkbox input[type="checkbox"]:checked + .checkbox-switch::before {
  background: #2be080;
}

.checkbox input[type="checkbox"]:checked + .checkbox-switch::before {
  transform: translateX(16px);
}

@media screen and (max-width: 820px) {
  .checkbox {
    margin-right: 20px;
  }

  .checkbox .checkbox-switch {
    margin-left: 18px;
  }
}

@media screen and (max-width: 600px) {
  .checkbox {
    font-size: 11px;
    margin-top: 46px;
  }

  .checkbox .checkbox-switch {
    margin-right: 12px;
  }
}
